[2021-08-30 03:16] nextgenusfs opened #27 "BLOW5 file size is larger than FAST5 VBZ compressed"
Thanks for the cool tools!  I think SLOW5 is a great idea and hope that ONT follows suit.  I started to play around a little with `slow5tools` with the thought of converting my large number of projects from folders of FAST5 files to single BLOW5 format -- I initially thought I could save some space (it's mentioned a 25% reduction in file size).

This seems to be true for older FAST5 datasets, for

[2021-08-30 03:22] Psy-Fer commented on #27
Hello,

yes, we are aware of this. We have been working on adding more compression methods, including something similar to VBZ. Look out for the new release coming soon.

Cheers,
James

[2021-09-03 10:58] hasindu2008 commented on #27
hi @nextgenusfs

We have implemented some compression schemes similar to VBZ. in the dev branch  VBZ is a combination of [streambyte](https://github.com/lemire/streamvbyte) and facebook's [zstd](https://github.com/facebook/zstd) compression algorithms. SLOW5 specification supports multiple compressions, so we added streamvbyte and zstd support to slow5tools.

Could you test these now compression m

[2021-09-03 16:13] nextgenusfs commented on #27
Nice @hasindu2008! I'm on centos -- so can confirm the following has worked:
[code]
And then used it like this on same VBZ compressed FAST5 folder above:
[code]
And here are directory sizes:
[code]
So looks good that now smaller than FAST5 VBZ! Very nice.

I did get an error on merging from the new directory, pasting here in case it helps you.
[code]

[2021-09-17 02:29] hasindu2008 commented on #27
@nextgenusfs

We just released slow5tools v0.3.0 a while ago with complete support for 'vbz' (zstd+svb) including bug fixes such as the one you encountered.  Please give it a go - you can try the binaries.

By the way out of curiosity, what are the two datasets you were trying on - stats like DNA or RNA, library prep method, read-length etc you?

[2021-09-17 20:53] nextgenusfs commented on #27
These were likely both DNA ligation kits (LSK109) run on R9.4.1 flow cells with read N50 lengths of ~ 20-40 KB -- these are sort of our average library metrics.  I'll checkout the new binaries and let you know what level of compression I'm getting.

[2022-01-04 21:41] RichardCorbett opened #50 "how to compare fast5 files"
Hi folks.

I'm very happy to see that you worked on this project and published it.  I hope the folks in Oxford pick up some of what you showed and takes advantage of these findings.

I am running some tests using version 0.3.0.

I have the following datasets based on a single .fast5 file containing 4000 reads of genomic ONT promethion reads.

dataset | file method | file size (kb)
-- | -- | --
1 |

[2022-01-05 00:28] hiruna72 commented on #50
Hello Richard,

Thank you for trying slow5tools!

There is no direct fast5 comparison method. We run guppy for the original and the s2fed fast5 and then, compare the outputs (fastq and sequencing summary files). This is the ultimate test we do before a release. (https://github.com/hasindu2008/slow5tools/blob/master/test/test_with_guppy.sh)

While developing, we compare the outputs of f2s and f2s->

[2022-01-05 16:49] RichardCorbett commented on #50
Wonderful thanks @hiruna72 .
I hadn't appreciated that the differences I see in repeated guppy runs are due to the sort order of the reads.   When I re-sort I can confirm that the resulting .fastq from my original and blow5 cycled fast5 files are the same.

I ran `h5stat -S` and got the following results:

Summary of file space information | original fast5 | blow5 default -> fast5 | blow5 vbz -> f

[2022-01-06 03:25] hiruna72 commented on #50
Hi Richard,

Thank you for summarizing the results. It is really helpful. I assume the Total space is the sum of Total space of each fast5 file. How did you get the Disk space?

[2022-01-06 15:43] RichardCorbett commented on #50
Hi @hiruna72,   to get the disk usage of each file I ran `du -sh`

[2022-01-07 02:05] hasindu2008 commented on #50
@RichardCorbett

I am glad that you guys are trying it out and appreciating it. More and more users using it encourage us to further keep improving the tools and put more and more effort to make the tools even better. Thank you.

To add more to what @hiruna72 said, the HDF5/FAST5 is a very complex format and has a number of different storage allocation schemes and we do not exactly know what kind

[2022-01-20 00:06] mbhall88 opened #52 "Short help not working on s2f"
The short help option `-h` doesn't seem to be working on the `s2f` subcommand?

[code]

[2022-01-20 00:19] mbhall88 opened #53 "Option to retain directory structure"
Hi,

Would it be possible to add a feature to allow for maintaining directory structure when converting between slow5 and fast5?

For example, if I have a directory structure

[code]

it would be nice if I could have the output directory mirror this.

For example, if I run

[code]

Then all of the fast5 files are dumped in `out/`. I would be great to have an option to have them dumped in the same

[2022-01-20 00:56] hasindu2008 commented on #53
Hi @mbhall88

This feature is being already implemented (we ourselves wanted this requirement while converting some of our archive data).  The implementation is here https://github.com/hasindu2008/slow5tools/pull/51 but have not yet been tested thoroughly. Will be merged to the dev branch soon after a test.

Regards

[2022-01-20 00:57] hasindu2008 commented on #52
Thank you @mbhall88  for reporting this. It is a silly bug.

[2022-01-24 02:21] SAMtoBAM opened #54 "run_id issue in certain files"
Hi there,

I am testing slow5tools on a few datasets, converting fast5 to blow5 (slow5tools f2s)
For most datasets it works well (~37% smaller file sizes) but unfortunately for some datasets I am running into the following warnings etc

`[search_and_warn::WARNING] slow5tools-v0.3.0: Weird fast5: Attribute file_version/read_001445a6-1ee9-4e18-90c3-7afee025d1b3 in AKH_1a/AKH_1a_8.fast5 is unexpected

[2022-01-24 02:31] hasindu2008 commented on #54
Hi @SAMtoBAM

Can I know if this is a single fast5 or multi-fast5 file? Also it would be great if you could share one or two of these files so we can have a look?

[2022-01-24 02:41] SAMtoBAM commented on #54
These are multi-fast5 files
[here](https://drive.google.com/file/d/1VvvF4KOJNnggSLPOGQMpxRjhaDtO86M2/view?usp=sharing) is an example

[2022-01-24 06:10] mbhall88 opened #55 "Header attributes warning"
I got a number of warning messages when running `slow5tools merge` on a directory of blow5 files. I was wondering if this is a big problem or whether I can ignore it?

[code]

When I ran `slow5tools f2s` on the original data I did see the following warning a number of times

[code]

are these two warnings related?

[2022-01-24 06:37] hiruna72 commented on #54
Thanks @SAMtoBAM. In the fast5 file you shared, `run_id` is not available in the `read` group but in `tracking_id` group. I will implement a patch for this soon.

[2022-01-24 07:05] SAMtoBAM commented on #54
Excellent, this 'tracking_id' does appear to correspond to a run specific tag.
Thanks for fixing this

[2022-01-24 07:06] hasindu2008 commented on #55
Hi @mbhall88
[search_and_warn::WARNING] slow5tools-v0.3.0: The attribute 'pore_type' is empty and will be stored in the SLOW5 header - This can be safely ignored. These new FAST5 have an empty per read attribute called pore_type but we have this warning in case this becomes non-empty we could intervene to see what that is.

[search_and_warn::WARNING] slow5tools-v0.3.0: The attribute 'pore_type' is

[2022-01-24 07:28] hasindu2008 commented on #54
Thanks for reporting this and this kind of community help will be useful to make our tools better.

We are surprised by the number of inconsistencies these FAST5s have from time to time. To give an example, the file version in FAST5 can be sometimes a string, sometimes an int and sometimes a float/double. How many million types of fast5 structures have been out there is a mystery.

Also if you are

[2022-01-24 07:44] SAMtoBAM commented on #54
I most certainly understand the pain of dealing with different fast5 formats, having a dataset that was gathered between 2017-2020, the format has changed dramatically during this time and your tool is not the first which has not been able to treat all the data the same!

Thanks for the heads up. I used slow5tools stats to check the files which worked properly with f2s and all the reads appear to

[2022-01-24 08:47] hasindu2008 commented on #54
Actually not just our tools, we have come across certain old datasets where ONT's own latest Guppy basecaller fails due to FAST5 issues.

About the number of reads per slow5 - for our inhouse datasets I convert a whole sample into a single BLOW5 file. This way, we can just move around the single file without needing to tar or anything.  Also, then one index file works seamlessly with f5c/nanopolis

[2022-01-24 09:00] mbhall88 commented on #55
Ah which BAM file are you referring to? I assume you mean blow5?

Here's the output from one of the files with the warning

[code]

[2022-01-24 11:11] hasindu2008 commented on #55
Ah yeh. BLOW5. Was working with some bam files so got mixed up.

- The pore type is "not_set". So it is completely safe to ignore that warning.  As this is a recently introduced attribute we will be keeping an eye on it from our side.

- [merge_main::WARNING] In file Calu/Calu_I_2hpi/FAO66427_4fd309c9_127.blow5, read_group 0 has a different number of header attributes than what the processed files

[2022-01-25 01:24] mbhall88 commented on #55
I can't seem to recreate this warning with two files.

Some of the blow5 files indeed have a different number of headers (off by 1). `@basecall_config_filename` seems to be the variable attribute. These fast5 files are pooled from a minION and gridION run and one used guppy v3 and the other v4. So I guess maybe this is where it is coming from?

Either way, when I pick two files with a different nu

[2022-01-25 01:54] hasindu2008 commented on #55
If it is the @basecall_config_filename  we do not need to worry. It is well likely that nanopore is changing their filenames randomly in each release :D Could you send the header of the final merged file with the warning when you merge the entire directory? Also two header examples showing a different number of header lines will be helpful.

_Either way, when I pick two files with a different numb

[2022-01-25 02:31] hiruna72 commented on #55
Thanks @mbhall88 for trying slow5tools.

Could you please swap the order of the two files and try. I think then it should give the warning. If so, it is because `merge` first sees the file with less number of header attributes and uses it to structure the output header (for that particular `run_id`). Later when another file with the same `run_id` is read but has
1. a different number/set of header

[2022-01-25 04:08] mbhall88 commented on #55
That didn't produce the warning either.

[code]

[2022-01-25 04:09] mbhall88 commented on #55
I have since learned a bit more about these files and have realised merging them might not be the best idea for various reasons. So that might be the reason for all the weirdness.

Anyway if you think there are still issues I'm happy to provide more details, but I would consider this closed for now.

[2022-01-25 12:13] hasindu2008 commented on #55
For our in-house datasets, I convert a whole sample into a single BLOW5 file.  For instance, say we ran a sample on a PromethION flowcell and it generated three-run ids (sequencing manually stopped and started for flowcell washing etc). All those three run_ids I convert to a single blow5 file. This is safe as all the FAST5 files would be of the same structure.

However, for archiving purposes it i

[2022-01-25 12:19] #50 closed

[2022-01-25 12:20] hasindu2008 commented on #27
Hi @nextgenusfs I will close this issue for now. If you have any more troubles please feel free to reopen, Cheers!

[2022-01-25 12:20] #27 closed

[2022-01-26 01:25] mbhall88 commented on #55
Sure. What is the best way to share this with you?

[2022-01-26 03:07] hasindu2008 commented on #55
Anything like dropbox, the institute web server is fine. You can send me the link on Twitter.

[2022-01-30 03:48] mbhall88 commented on #55
I've dug into this further and tl;dr I definitely should not have been trying to merge these files, so I think slow5tools has done the right thing. Had it not given that warning I would not have known they should not have been merged.

I have DM'd a link to 3 files I was able to reproduce the warning with.

I could not reproduce the warning with 2 files, it has to be 3 (or more I guess).

Order is

[2022-02-01 11:41] DrownedMala opened #58 "Converting back to fast5 increases size"
Hello there,
I was trying the conversion f2s and it all worked out pretty well, but once I tried s2f it generated a folder bigger than the original one:

`du -sh fast5_1st blow5_1st fast5_again`
with output:
4.5G    fast5_1st
2.8G    blow5_1st
6.0G    fast5_again

Commands I used:
`slow5tools f2s fast5_1st/ -d blow5_1st/`
`slow5tools s2f blow5_1st/ -d fast5_again/`

I don't know if it's an issue o

[2022-02-01 23:42] hiruna72 commented on #58
Hello @DrownedMala

Thank you for reporting this. I suspect that the original fast5 had ONT's latest compression called vbz (that uses Z standard and StreamVByte with zig-zag delta techniques). `s2f` creates default gzip compressed fast5 files which can be larger.

Could you please,

1. Make sure the number of original and s2fed files are the same. `ls DIR | wc`
2. Use `h5stat` to check the compre

[2022-02-02 06:03] hasindu2008 commented on #55
Hi @mbhall88
Thanks for sending through the files. The warning in this case is harmless. r1 is a separate gridion run and r2,r3 are from the same MinION run.  These files can be merged together if you wish - it makes sense to merge if they are from the same sample. The run id in r1 is different from that in r2,r3, so the generated BLOW5 file would contain two read groups. **basecall_config_filenam

[2022-02-02 06:11] mbhall88 commented on #55
Awesome. That's great to know! Thanks for the quick response.

[2022-02-02 06:11] #55 closed

[2022-02-02 12:27] mattloose opened #59 "Conversion back to fast5 is broken in some cases"
Using slow5tools v0.3.0

The input file had an unexpected field (end_reason) which triggered a warning on conversion to blow5.

Trying to recreate the fast5 from the blow5 file resulted in:

`
[list_all_items] Looking for '*low5' files in test_blow5/
[s2f_main] 1 files found - took 0.001s
[s2f_iop] 1 proceses will be used
[s2f_child_worker] Converting test_blow5//FAL37440_pass_c4fa58d7_179.blow5 t

[2022-02-02 12:52] hasindu2008 commented on #59
@mattloose I sent my email to you on Twitter chat.
This end_reason end reason has been an absolute pain. It first appeared as a string data type first, then somewhere it changed to an ENUM. In between how many variants there would have been - even nanopore may not know probably :D
Fun fact: Did you know that the file version in FAST5 could be either a string, or an INT or even a floating-point num

[2022-02-02 12:56] mattloose commented on #59
Looks like this file contains that data as an enum.

[2022-02-02 13:20] hasindu2008 commented on #59
This enum type was handled. Could you double-check the slow5tools version you are using as slow5tools --version?

I tried the file you sent on my end, and it seems to convert back and forth:
[code]

[code]

[2022-02-02 13:32] mattloose commented on #59
Yes - I've sent you more files...

What I have determined is that the file that breaks has been through ONTs compress_fast5 feature. In that file the end reason is an 8-bit signed int. Not an enum!

[2022-02-02 17:44] DrownedMala commented on #58
Yes, thank you for your reply!
So, I checked and the number of file is the same in both directories.
While, for the compression method, here it is what I get:

Dataset filters information:
                NO filter: 0
                GZIP filter: 0
                SHUFFLE filter: 0
                FLETCHER32 filter: 0
                SZIP filter: 0
                NBIT filter: 0
                SC

[2022-02-02 23:02] hasindu2008 commented on #59
But still we will soon update slow5tools to be able to convert such broken FAST5 back and forth. Because compress_fast5 removed the enum labels and just stored as an uint8_t, the end reason field in such files is basically lost. But we will write an update to slow5tools to handle this situation. There are a few ways that come into my mind:
1. Drop that damaged field when converting to SLOW5
2. Ass

[2022-02-02 23:35] hasindu2008 commented on #58
Ah yes. Your original data is in 'vbz' compressed format. However, s2f as the moment write files in zlib compressed format. That is why the file size gets bigger.

In theory, you can convert any zlib fast5 to vbz fast5 using ONT's compression program. But I highly discourage this as their compression program is buggy and damages fields in their own format (see #59).

Perhaps in future, we could gi

[2022-02-03 07:33] mattloose commented on #59
I would expect slow5 to contain whatever was in the fast5 that was passed to it. I.e I don't think slow5 conversion should be making decisions about what the data are in the file - it should simply be storing what was in the original file.

So I'd vote for 3. In this case the error was caused by the upstream conversion. I'd expect the input error to be carried forward. Especially as if you do 2 an

[2022-02-03 07:46] Psy-Fer commented on #59
Option 4) do a pull request on the ont conversion tool so it doesn't cause this problem.

[2022-02-03 09:07] DrownedMala commented on #58
I see, thanks for the support!

Good work,
keep it up!
Cheers,
Simone

[2022-02-03 09:07] #58 closed

[2022-02-14 20:56] waltergallegog opened #60 "Allow to keep multiple run_ids when multi-fast5 contains them"
Hello,
I have been learning about the fasta5 and slow5 formats recently (thanks a lot for all the tools and info you have provided in your recent papers).

I have started using slow5tools to convert fast5 to slow5, and as example dataset I'm using the .fast5 files from:
https://github.com/nanopore-wgs-consortium/NA12878
For example, if you follow the RNA links you will come across with download li

[2022-02-15 02:10] hasindu2008 commented on #60
Hi @waltergallegog

Thanks for checking out slow5tools. You are right slow5 format supports multi-read groups. However, the current implementation of slow5tools f2s requires that an individual fast5 file contains only one run id which is always the case for data produced by MinKNOW.  My answers are below.

This only happens when the original fast5 files were single fast5 files (generated around 3

[2022-02-15 10:50] waltergallegog commented on #60
Hi @hasindu2008,
Thanks for your quick and detailed reply. It is clear now what the issue was.

That's great to hear.

For now I'll check out the two datasets you recommended.

[2022-03-03 03:39] mbhall88 opened #69 "Compress subset of reads"
It would be nice if there was an option to pass a list of read IDs you want compressed. Similar to the `-l,--read_id_list` option in [fast5_subset](https://github.com/nanoporetech/ont_fast5_api#fast5_subset).

[2022-03-03 06:19] hasindu2008 commented on #69
This subset option is available in slow5tools get module. Slow5tools get takes a blow5 file and a list of readid as inputs and produce an output with only the records specified in the list. Will this be suitable for your usecase?

[2022-03-03 20:54] mbhall88 commented on #69
Ah sorry, missed that. Yes and no. In an example where I have 1000 fast5 files and only want to compress say 20 of them, I would need to compress them all and then subset after that with `get`. It is a minor edge case I realise sorry.

I realise there are other ways of doing this, like subsetting with fast5_subset upfront and then compressing that subset. But in that example I end up duplicating t

[2022-03-05 01:43] hasindu2008 commented on #69
Hi @mbhall88

Due to the requirement of multi-processes to go around HDF5, the need to support multi and single fast5 files and all those weird inconsistencies in FAST5 files, now this f2s programme has got a bit complex. Also because f2s is used for converting to slow5 we are being extra careful to avoid any bugs and do a massive amount of testing after each tiny modification. I will discuss with

[2022-03-08 00:38] jrhendrix opened #70 "data loss"
I converted a test fast5 file to slow5 then back to fast5. I thought that by using the --lossless flag that the final fast5 would be the same as the original; however, it appears that I am loosing data during the conversion.

Is it possible to preserve all of the data from the original fast5?

Commands:
[code]
Resulting file sizes
original.fast5   97M
slow.slow5      116M
new.fast5         61M

[2022-03-08 00:48] Psy-Fer commented on #70
Hey,

Thanks for trying out the tools.
Could you please let us know what data is missing?

Some fast5 files contain basecalling data. These will not be kept, as they are not related to signal data.

There is also some data packing/unallocated space issues with the existing fast5 files, so even if it doesn't contain basecalling info, just a normal fast5, it will be more bloated space wise than a sl

[2022-03-08 01:47] jrhendrix commented on #70
Hi,

The test file did contain basecalling data so this explains a lot! Thank you for explaining.

Can you suggest a better way to compare the original and twice-converted file?

Thanks

[2022-03-08 01:58] Psy-Fer commented on #70
Both file types consist of meta data and signal associated data. The majority of this data is signal data.

Per read you have a number of primary and auxiliary fields. --lossless means it keeps all the auxiliary fields as well.

We have kept the names the same, so using something like h5py and pyslow5 you could read both files and compare.

An easier way is to just basecall the original, and conve

[2022-03-08 02:03] hasindu2008 commented on #70
@jrhendrix

The ultimate test would be to  basecall the original files and the reconverted files using Guppy and see if the diff passes on sorted fastqs and sorted sequencing summaries. If the diff passes it means all the raw signal data is saved without loss and we do not need to worry.

Here is a code snippet:
[code]

Also, you could refer to #50 for a detailed discussion on the file size differ

[2022-03-08 23:12] jrhendrix commented on #70
@Psy-Fer  @hasindu2008

Running Guppy and comparing the fastq files worked smoothly. Thanks for the code snippet!

I wanted to mention though that the sequencing_summary files did not pass the diff test. When I dug into one of the 'discrepancies', I found that one file had a mean_qscore_template that was 0.000001 higher than the other while everything else was identical. Ugh. I'm not concerned as

[2022-03-09 01:17] Psy-Fer commented on #70
Which version of guppy were you using, and were you using more than 1 gpu? (we have seen this before...)

[2022-03-09 02:39] jrhendrix commented on #70
I was running Guppy on a CPU-based system (still working on getting access to a gpu).

Guppy version: 4.5.3+

[2022-03-09 02:58] Psy-Fer commented on #70
Ahh interesting.

What happens when you run it twice on the original fast5 file. Do you see the same issue with the sequencing summary file or does it go away?

(We have seen this issue with 4.* versions of guppy, but saw it go away in versions 5+)

[2022-03-09 19:50] jrhendrix commented on #70
When I reran Guppy on the original fast5 file, the same issue arose-- the sequence_summary files were not the same. Again it was the mean_qscore_template varying by 0.000001 or 0.000002.

Glad to hear that it is resolved in versions 5+

[2022-03-09 23:19] hasindu2008 commented on #70
Great - so that tiny difference is not anything to do with SLOW5, but something with Guppy.  We also had some Guppy differences like this when doing sanity checks for converted inhouse data, and finally, it ended up being an issue in Guppy 4 that produced different results each time you run in a multi-gpu environment.

Thanks for doing all these tests. When more and more community members use SLOW

[2022-03-10 17:50] jrhendrix commented on #70
Sounds good! I updated Guppy to v6.0.1 and those slight differences went away.

Thanks for the tool

[2022-03-10 17:50] #70 closed

[2022-03-14 05:19] hasindu2008 commented on #59
@mattloose
The latest slow5tools dev branch has this implemented (option 3 we discussed above)- if the end_reason field is corrupted, _f2s_ will save the corrupted attribute as it is with a warning. Also, _s2f_ works on such created BLOW5 files, propagating the corrupted field as it is. Could you please give a try? To compile from dev branch:
[code]

@Psy-Fer ONT conversion tool has been potential

[2022-03-14 11:55] hasindu2008 commented on #60
@waltergallegog

We added a subsubset from the NA12878 dataset and relevant links. See Q3 under https://hasindu2008.github.io/slow5tools/faq.html. Thanks for the suggestion.

Hope you had no issues with the last corona virus dataset I provided.

[2022-03-14 12:00] hasindu2008 commented on #53
This feature for *f2s* is available in the master branch. Give it a go and let us know your thoughts.

[2022-03-14 12:12] hasindu2008 commented on #54
@SAMtoBAM We have implemented support for these kinds of files where the run_id is available only inside the tracking ID.  Please check the master branch and give it a go. It will work if the run ID across all the reads in the same multi-fast5 are the same.

The example you provided seems to have multiple run IDs in the same multi-fast5 through.  Is it possibly something generated through single t

[2022-03-14 14:05] waltergallegog commented on #60
Hello @hasindu2008
Thanks for sharing the dataset and for the update.
I've been working with it without any issues.

For me this ticket can be considered closed, but let me know if you want to keep it open for this point:

[2022-03-15 01:36] #60 closed

[2022-03-23 03:43] mbhall88 commented on #69
Thanks @hasindu2008. Appreciate the information. Let me know when you've discussed with the team and whether you think it will be included at some future time.

[2022-03-23 03:49] mbhall88 commented on #53
Seems to be working based on a test I just ran 🎉

[2022-03-23 03:49] #53 closed

[2022-03-25 16:47] SAMtoBAM commented on #54
Excellent, I compiled the latest version 0.3.0-dirty and ran it on some of those fast5 sets which failed and it appears to have worked perfectly with this warning:

`slow5tools-v0.3.0-dirty: Weird or ancient fast5: converting the attribute Raw/read_number from H5T_STD_U32LE to SLOW5_INT32_T for consitency. This warning is suppressed now onwards.`

I will be using the --allow option as most my data

[2022-03-26 07:23] hasindu2008 commented on #54
Hi,
I analysed the example multi-fast5 you provided and seems like metadata are very similar  see:  [header.txt](https://github.com/hasindu2008/slow5tools/files/8354857/header.txt). If you are using it for read data (for nanopolish/f5c etc) this metadata does not matter. However, one important piece of metadata is if the experiment is DNA or RNA. Another is if MinION/GridION vs PromethION as this

[2022-04-04 14:48] thomasguignard opened #76 "fast5 to blow5 conversion and back to fast5 gives size difference"
Hello,

I'm testing conversion back and forth of fast5/blow5 files to check lossless process.

First:
`slow5tools-v0.4.0/slow5tools f2s fast5dir/ -d blow5dir/`
OK 1 fast5 **387Mo**  gives 1 blow5 200Mo

Then:
`slow5tools-v0.4.0/slow5tools s2f blow5dir/ -d blow5tofast5dir/`
Unexpected difference: 1 blow5 200Mo gives 1 fast5 **307Mo**

What could explain this size difference between the both fast5 (

[2022-04-04 16:15] thomasguignard commented on #76
Thank you so much for your reply.
Less is more, SLOW is FAST.

[2022-04-04 16:15] #76 closed

[2022-04-15 04:26] chilampoon opened #77 "Missing auxiliary field"
Hello there, I am using pyslow5 for my task and I found there's one column called `"end_reason"` in my slow5 file, but I couldn't access it.
It is not in the keys of `s5.seq_reads(aux = 'all')` or `s5_data = s5.seq_reads(aux = ["start_time", "read_number", "start_mux", "median_before", "end_reason", "channel_number"])`...

[2022-04-15 04:32] Psy-Fer commented on #77
Hello,

End_reason has been a mess on the ONT side, where they have changed its type multiple times between versions of fast5, as well as their own tools breaking the field. I left it out for now until it was sorted out (which it is, with ONT devs).

Also slow5tools is ignoring this field too for the same reason. Is there a reason you need this field?

[2022-04-15 05:14] chilampoon commented on #77
Ah I see, thanks for the explanation!
Yep I wrote a new slow5 file, then added my old slow5 header to that new file, then used slow5tools. Missing that end_reason field caused errors for viewing, but then I manually changed the header, `slow5tools view` works well. Also I hope there's the writing functionality like pysam write.. (maybe it exists I just didn't find it)

[2022-04-15 06:43] Psy-Fer commented on #77
We are currently testing the latest pyslow5 build before release.

If you want to give it a go, you can checkout the pywrite branch.

I have added writing, appending and multithreading (on the C side) for writing, sequential and random access reading. I've also sped a lot of the underlying hits up by a lot. Be aware, it's still in testing, so there may be bugs, so use at your own curiosity 😄

[2022-04-15 13:30] chilampoon commented on #77
Sure, I'll give it a try!

[2022-04-15 13:30] #77 closed

[2022-05-20 22:03] maximus-sci opened #78 "SLOW5 files not working with nanopolish polyA"
Hello I'm unable to use slow5 files for polyA calling and was hoping you could help.

I can successfully convert my fast5 files into slow5 and then merge them together using slow5tools.
Indexing with nanopolish also executes with no errors.

When I try to call polyA tail lengths, the script runs with no errors and produces this output:
`$nanopolish polya --reads .merged.fastq.gz --bam merged.sorte

[2022-05-21 01:55] hasindu2008 commented on #78
Could you please put the commands you used to convert to blow5 and then the nanopolish commands for using blow5?

[2022-05-21 10:14] hasindu2008 commented on #78
@maximus-sci
I think I found the issue and applied a fix which you can find the instructions here https://github.com/jts/nanopolish/issues/967

[2022-05-25 12:42] #78 closed

[2022-06-15 15:06] chilampoon opened #79 "Are pA values from slow5tools normalized?"
Hi there, I am looking at the normalization methods of ont raw signals.
I am not clear about whether the picoamp values gotten from slow5tools `seq_reads(pA=True)` are normalized already, or not?
I've also tried the [normalization](https://nanoporetech.github.io/tombo/resquiggle.html?highlight=normalization#signal-normalization) in tombo using their function `tombo_stats.normalize_raw_signal`, whe

[2022-06-15 16:46] Psy-Fer commented on #79
Hello,

pA conversion is not the same as normalisation.

pA conversion is handled by the following
1. Scale = range / digitisation
2. pA = scale * (raw_signal + offset)

This gives you a positive float value, like that you get from any of the pA conversions in any of the slow5 associated tools.

Normalisation, is usually of 2 kinds. In the early days, it was z-normalisation, but now most tools use

[2022-06-16 01:45] hasindu2008 commented on #69
As this new POD5 format is coming, we thought of putting effort into writing the converter for it. While doing it would be able to do this feature into the POD5->BLOW5 converter if you are still interested.  As FAST5 is being phased out by ONT, I think it is not worth putting effort into the FAST5->BLOW5 converter to implement this feature, especially given that there are other ways to achieve it

[2022-06-20 21:08] chilampoon commented on #79
I see, I'll do med-mad on pA values then, thank you so much James!

[2022-06-20 21:09] #79 closed

[2022-06-27 16:51] chilampoon opened #81 "Bad fast5 - [fast5_attribute_itr::ERROR]"
Hello, it's me again!
So we have a new minion run using the updated minknow, then when I used`slow5tools` to convert the fast5 files I just got these errors:

[code]

[2022-06-27 18:16] chilampoon commented on #81
here is the link of one of my fast5s: https://drive.google.com/file/d/135BicPDTIUjx3v_EUhx13puZAhTKrlZJ/view?usp=sharing

[2022-06-27 18:55] Psy-Fer commented on #81
Hey Chilampoon,

We also encountered this value. Something ONT added to fast5, with a small announcement, in patch notes, with no impact statement of what it is, what it does, or how it impacts the fast5 spec. Another reason we made slow5...

Anyway...

A fix for this is on the dev branch. https://github.com/hasindu2008/slow5tools/commit/7852a24f2e9e775fd2e6d1f879ba8f77212643b9

You can either wai

[2022-06-28 03:28] hasindu2008 commented on #81
Oh, I had tested this on like 10 samples. But forgot to make a release. Just created a release now. Please check.

[2022-06-30 11:54] hasindu2008 commented on #81
@chilampoon
Did the latest release work for your FAST5s?

[2022-06-30 15:57] chilampoon commented on #81
Oh yeah, actually before the release I've built slow5tools using the dev branch as James said and it worked well -- you guys are awesome, thank you!

[2022-08-02 11:34] SziKayLeung opened #82 "Basecall with Guppy"
Hello @hasindu2008,

Thank you for developing slow5tools - it's been really useful to compress and store ONT data!

Apologies if this is a naïve question but I thought it was possible to basecall blow5 files using Guppy. I have successfully converted my fast5 files to slow5, and am trying to basecall, however I get the following error:

[code]

With the commands (slow5tools 0.5.1):
[code]

Am I mi

[2022-08-02 13:43] hasindu2008 commented on #82
To add to what @Psy-Fer said, we have created a binary build of the slow5 version of Dorado https://github.com/hiruna72/dorado/releases/tag/v0.0.1. You could try that. Instructions are there.

Alternatively, you could use s2f to convert back to FAST5 into a temporary directory and use Guppy on it.

The bonito pull request is here:
https://github.com/nanoporetech/bonito/pull/252

The Dorado pull re

[2022-08-02 17:14] SziKayLeung commented on #82
Thank you Jamies and Hasindu. That's really helpful to know, and will try your Bonito/Dorado versions.

[2022-08-02 17:14] #82 closed

[2022-08-03 01:04] Psy-Fer commented on #82
@hasindu2008 also had a crazy idea last night thinking about this.

So stay tuned for updates (if it works)

[2022-08-03 15:01] lacoak21 commented on #82
I am also currently dealing with this same situation! The slow5 format looks excellent and im very excited to try this in our workflow. I am setting it up on a gridion and hoping to use the blow5 with guppy.

Wouldnt converting blow5 back to fast5 defeat the purpose computationally? (aside from less space)

Thanks for this awesome tool @Psy-Fer, @hasindu2008, @SziKayLeung, and team

[2022-08-04 04:06] hasindu2008 commented on #82
@lacoak21
You are right. If we are directly basecall from BLOW5, it is much faster. But unfortunately, Guppy is closed source and despite us having a version of slow5-Guppy through the developer agreement, the terms of the agreement do not allow us to release it.
@Psy-Fer is doing a workaround for this, will let you know the outcome soon. In the long run however, given that ONT has announced that

[2022-08-04 13:08] lacoak21 commented on #82
Thanks so much for your response @hasindu2008!! I had not realized that ONT is moving to Dorado.

After reading the design philosophy, this clearly will clearly help us a lot in the long run.

[2022-08-04 15:16] Psy-Fer commented on #82
Dorado is still in "preview" release and isn't yet feature complete. So probably won't be till next year when that is at a stage to be production ready. So guppy is still very much the way to go.

In some good news, I have a prototype that solves this issue with slow5 not working with guppy, and us not able to share our slow5 compatible version of guppy.

It's still a little rough and needs a litt

[2022-08-04 22:39] MeHelmy opened #83 "[f2s_child_worker::ERROR] Bad fast5"
I am running the command as follows:

`slow5tools f2s ${dir_name}/fast5 -d "${outDir}"`
Where `${dir_name}` is the input directory and `${outDir}` the output directory.

But shortly, it gives me this error:

[code]

I appreciate your feedback/suggestions,
Medhat

[2022-08-05 01:47] hasindu2008 commented on #83
Could you isolate the file 'dir_name/fast5/P5a_279.fast5' which is causing the problem in to a separate directory and see if it really corrupted by trying to run Guppy on it?
Alternatively you can share this file so that I could investigate.

[2022-08-08 12:52] Psy-Fer commented on #82
Hey,

give this a try

https://github.com/Psy-Fer/buttery-eel

Basecalling with guppy.

Thanks for this issue, it helped us think about other ways to go about this.

Have fun
James

[2022-08-08 13:16] lacoak21 commented on #82
Wow thanks James and Team! This is an exciting update.

Luisa

[2022-08-08 15:41] SziKayLeung commented on #82
Thank you so much James et al. Will try this out and let you know how I get on!

[2022-09-23 09:34] svennd opened #84 "memory issue"
I have a few runs that give this error : (converted from fast5 to blow5 then merged into a single file)

[code]

The machine isn't under any memory pressure. (total 128 GB memory) and slow5tool doesn't seem to be using much memory either during the run. (it looks to be CPU bound)  The merged.blow5 is about 387 GB large.

Is this a bug or somewhat expected with larger blow5 files ? I use the stats

[2022-09-23 10:05] hasindu2008 commented on #84
Hi

Can i know the slow5tools version you are using?
Also was it the slow5tools cat command or merge command that you used?

[2022-09-23 11:11] svennd commented on #84
Hey,

Yes sorry for omitting this information.
`slow5tools 0.6.0`

I do the following :

[code]

[2022-09-23 12:27] hasindu2008 commented on #84
This seems to be a very rare occurrence and is likely to be a bug. It is not have anything to do with memory as 128GB is more than enough, nor is the file size as I have used this version on a 3TB BLOW5 file recently.

Could you kindly run the following command:
`slow5tools skim run/merged.blow5` and let me know if it prints anything at all before giving the same error.
If it prints anything let m

[2022-09-23 12:38] hasindu2008 commented on #84
Also, could you do a  `slow5tools quickcheck run/merged.blow5` and see what happens?

Do you happen to have any log output during the merge command? If you can run the merge command again (it might waste some compute time, I believe) as `slow5tools --verbose 10 merge run.tmp/ -o run/merged.blow5 -t 32 2> merge.log` and send me the merge.log, I can have a look if something weird is going on. during

[2022-09-23 13:08] svennd commented on #84
Hey hasindu2008,

When checking the log of the conversion, I noticed this experiment has 2 flowcells. Perhaps this is the source of the issue ?

[code]

the skim command returns a huge amount of lines, i'm now running  | wc -l

The quickcheck gives an error :
`
[quickcheck_main::ERROR] No valid slow5 eof marker at the end of the BLOW5 file.
`

Ill rerun the conversion & merge manual and keep the l

[2022-09-23 13:59] hasindu2008 commented on #84
It seems like somehow your merge job got prematurely ended. See if it crashed midway?

[2022-09-24 10:06] hasindu2008 commented on #84
@svennd having flowcells cannot be an issue. Recently I combined like 50 flowcells.
Looking at what quickcheck says it is very much like a premature ending and the EOF marker never had a chance to get written.  See what happens when you run merge again and let me know.

[2022-09-26 03:48] mbhall88 opened #85 "Bad fast5 attribute pore type"
I got this error when using `f2s` in v0.6.0.

[code]

Here is the fast5 that caused it.
[BC76_r0b1235_0.fast5.gz](https://github.com/hasindu2008/slow5tools/files/9642784/BC76_r0b1235_0.fast5.gz)

[2022-09-26 04:23] hasindu2008 commented on #85
Hi @mbhall88
Is this a very recently generated FAST5 file?
@hiruna72 can you have a look at this attached file please?

[2022-09-26 04:27] Psy-Fer commented on #85
interesting!

So i had a quick look at this with h5py

If you do something like this:

[code]

you get something like...
[code]

But if I look at the actual values...

[code]

I can see this

[code]

This is hilarious. @hasindu2008 what do you wanna do?

James

[2022-09-26 04:36] Psy-Fer commented on #85
Okay a few more details.

[code]

gives:

[code]

but

[code]

gives

[code]

weird

[2022-09-26 04:40] Psy-Fer commented on #85
Apparently we have to do

[code]

to get this:

[code]

That will do the correct decoding of the numpy.bytes_ class

[2022-09-26 04:47] Psy-Fer commented on #85
Not sure what the C equivalent here will be.

Not sure why I get different types when using an item() getter rather than a named get. If I tried to do a named get, I would not be able to see "note_set" at all, just random numbers. This has to be some kind of bug from the ONT side of things.

My guess is that slow5_tools is looking at the type of the value, and seeing `int` rather than some byte st

[2022-09-26 06:38] hiruna72 commented on #85
Hello @mbhall88,

Thank you very much for reporting this issue. The file you sent does not have an expected attribute (`file_type`) which is usually found at the root group. The file was misidentified as a single-fast5 file and that caused `f2s` to error out. The error message was saying something completely different. However, that helped us to discover another bug related to `pore_type`.

![Scre

[2022-09-26 14:36] svennd commented on #84
I'm rerunning this now, but seeing the storage makes me think that this might have been a "full disk" error. The merge is running now.

[2022-09-26 22:01] mbhall88 commented on #85
This sequencing run was done a few years ago - ~2019 I think. There's not really anything else I can think of that is out of the ordinary.... I thought that maybe I merged a bunch of single fast5s, but the file name makes me think not (I normally use the default prefix in the ont fast5 api singoe 2 multi tool, which renames them batch_0 etc.)

What other kind of info do you need?

[2022-09-27 04:35] hasindu2008 commented on #85
It seems like this is one of those files between when ONT did the transition from single to multi-fast5. This file structure is something in between real  multi-fast5 and single to multi-converted fast5. Do you have many datasets like this or is it only a few? We have to think about how we can go ahead in doing this in f2s without affecting the types of fast5 files it work with. Till then could yo

[2022-09-27 20:38] mbhall88 commented on #85
I've got about 5/6 runs I think. I wouldn't worry about trying to support files like this if they're a weird transition/corner case. Gotta maintain your sanity!

I'll give that script a go. Thanks!

[2022-09-28 12:48] svennd commented on #84
Yes, now the merge worked w/o a problem (and stat). This fault most likely had to do with a full disk, so the file write was stopped in the middle. I feel like the issue is resolved, so ill close it.

Thanks for the help and thank you for developing this amazing toolbox!

[2022-09-28 12:48] #84 closed

[2022-09-30 22:51] hasindu2008 commented on #85
Ohh there was a typo on this link and sorry I did not see the last 404 part until @hiruna72 told me, the link is https://github.com/hasindu2008/slow5tools/blob/master/scripts/mixed-multi-fast5-to-blow5.sh.

[2022-10-06 22:01] clock-matt commented on #83
I had the same error come up today. I'll try and run guppy on it and get back to you

[2022-10-06 22:02] clock-matt commented on #83
Also, this was my error log:
[list_all_items] Looking for '*.fast5' files in data/YM1
[list_all_items] Looking for '*.fast5' files in data/YM1/YM1
[list_all_items] Looking for '*.fast5' files in data/YM1/YM1/20220427_1557_MN35906_FAT17286_8bc2484f
[list_all_items] Looking for '*.fast5' files in data/YM1/YM1/20220427_1557_MN35906_FAT17286_8bc2484f/fast5
[list_all_items] Looking for '*.fast5' files

[2022-10-06 23:30] clock-matt commented on #83
I did get a chance to try them with guppy and guppy also couldn't load them. I'll have to dig through them to see what might be going on.

Do you know if the worker would have continued to process the other fast5 files, or does it stop after the error?

[2022-10-06 23:51] hiruna72 commented on #83
Hello @clock-matt,

Thank you reporting this.

At the moment, if `f2s` comes across a bad fast5 file it errors out. Its partial output should be discarded.
The best method is to identify and filter out the bad fast5 files before running `f2s`. This can be tricky.

We are delivering the "best effort" `f2s` to convert each and every fast5 file that can be basecalled through guppy.

As you have figur

[2022-10-07 08:04] hasindu2008 commented on #85
@mbhall88 Did this script work?

[2022-10-07 08:10] hasindu2008 commented on #83
@clock-matt

If you could move the three files `data/YM1/YM1/20220427_1557_MN35906_FAT17286_8bc2484f/fast5/FAT17286_75202811_56.fast5'` , `data/YM1/YM1/20220427_1557_MN35906_FAT17286_8bc2484f/fast5/FAT17286_75202811_248.fast5` and `data/YM1/YM1/20220427_1557_MN35906_FAT17286_8bc2484f/fast5/FAT17286_75202811_39.fast5'  into a separate directory outside and call f2s it is likely that I will work (as

[2022-10-07 08:10] hasindu2008 commented on #83
@MeHelmy
Any update on your side?

[2022-10-07 21:40] clock-matt commented on #83
I tried converting them from their own directory and had the same error.

[2022-10-07 21:54] clock-matt commented on #83
[FAT17286_75202811_39.fast5.gz](https://github.com/hasindu2008/slow5tools/files/9737656/FAT17286_75202811_39.fast5.gz)
[FAT17286_75202811_56.fast5.gz](https://github.com/hasindu2
[FAT17286_75202811_248.fast5.gz](https://github.com/hasindu2008/slow5tools/files/9737658/FAT17286_75202811_248.fast5.gz)
008/slow5tools/files/9737657/FAT17286_75202811_56.fast5.gz)

[2022-10-07 22:01] hasindu2008 commented on #83
@clock-matt the files you attached when extracted seem to be empty files 0KB.
<img width="516" alt="image" src="https://user-images.githubusercontent.com/12987163/194668764-f91d57e5-2080-4859-822d-55da64bf930e.png">

Is this something that happened when you uploading or are your original files also like that?

[2022-10-08 05:44] mbhall88 commented on #85
I *think* so. Sorry, I haven't forgotten about this. I am running it on a collection of nanopore runs and it's taking a few days. Hopefully the jobs will finish over the weekend. I'll close this issue when/if they finish successfully if that's okay?

[2022-10-08 08:25] hasindu2008 commented on #85
Sure. No prob.

[2022-10-09 22:36] mbhall88 commented on #85
That script seems to have done the trick! Thanks a lot @hasindu2008

[2022-10-09 22:36] #85 closed

[2022-10-10 20:51] clock-matt commented on #83
Yeah it looks like something went wrong when I was downloading the files originally. So that seems to be the cause of the error for me.

[2022-11-14 05:21] Kevinzjy commented on #59
Hi @hasindu2008 , we only have fast5s with falsely converted "end_reason", but the dev branch seems to dropped support for these "corrupted" files. We carelessly trusted the `ont-fast5-api` and compressed these files in place, so no original fast5 files can be accessed now. Is there any possibility to rescue these files? Thanks!

I have compiled the dev branch as instructed.

[code]

But I am stil

[2022-11-14 05:48] hasindu2008 commented on #59
@Kevinzjy
We ended up erroring out rather than propagating the corrupted attribute as we thought the user must be made aware of this. That way, the users can reach out to ONT [see https://github.com/nanoporetech/ont_fast5_api/issues/70]  and see if there is a way to get those attributes recovered (I suggest opening an issue there and getting them to write a programme that recovers your data).

The

[2022-11-14 10:27] Kevinzjy commented on #59
Thanks for the reply @hasindu2008 . I totally agree that ONT should do something to fix this issue.  I'll open a new issue there to see if they can provide a resolution.